
        <div class="animated fadeIn">
       <header class="imagem-cup">
            <div class="cabecalho">

            </div>
        </header>
        <div class="container">
            <hr class="linha-dividir">

            <!-- First sessao -->
            <div class="sessao" id="contact">
                <h2 class="sessao-heading">É hora do grande duelo! 
                    <small class="text-muted">
                        Vocês estão prontos?
                    </small>
                </h2>
                <p class="lead">Chegou a hora. Foram meses de preparação para esse momento: a batalha. Quem se atrasou, ficou pra trás.
                    Sem dó nem piedade. Nesta primeira fase, 36 robôs competiram entre si para a disputa de 10 vagas no festival NEXT - é lá onde o grande campeão será conhecido.
                    </p>
                </p>
                <div class="row">
                    <div class="col-sm-10 col-xs-8">
                    <blockquote>
                        <p>É o primeiro trabalho de Sistemas de Informação que é feito em grupo e faz integração das disciplinas do primeiro ano preparando o estudante para trabalhar em equipe, que é a forma que sempre trabalhamos na Fiap”</p>
                        <footer>Reginaldo Belizário, <cite title="Source Title">professor e coordenador do Robocup</cite></footer>
                    </blockquote>
                    </div>
                    <div class="col-sm-2 col-xs-4">
                        <img src="/images/Fiap.jpg" class="img-responsive thumbnail">
                    </div>
                </div>
            </div>            

            <hr class="linha-dividir"4

            <!-- Second sessao -->
            <div class="sessao" id="services">
                <img class="sessao-imagem img-circle img-responsive pull-left" src="/images/belizario.jpg">
                <h2 class="sessao-heading">Belizário, a Lenda da FIAP
                    <small class="text-muted">O Grande Juíz</small>
                </h2>
                <p class="lead">Pelé? Michael Jackson? Elvis? Todos foram os melhores naquilo que fizera. Mas só Reginaldo Belizário, o Deus,
                    sabe ser uma lenda. O Juíz mais amado (e odiado) dos competidores, o professor é quem toma as rédas na hora da batalha: disciplina,
                    seriedade e rigor são a marca registrada desse mito, mais amado que árbitro de futebol. 
                </p>
            </div>
            
            <hr class="linha-dividir">

            <!-- Third sessao -->
            <div class="sessao" id="about">
                <h2 class="sessao-heading">Eu fui eliminado! E agora? :(<br>
                    <small class="text-muted">Hora de puxar a carroça pra casa</small>
                </h2>
                <p class="lead">Após a primeira fase da competição, 26 robôs foram para casa mais cedo. Todo o esforço para construir o robô
                    não é descartado, pois os donos podem levar os mesmos para casa e fazerem oque bem entender com eles. Só os 10 mais fortes seguem para o NEXT.
                </p>
                <img class="final-imagem" src="/images/robocup-batalha.jpg">
            </div>


            <hr class="linha-dividir">

        </div>
        </div>

