<div class="animated fadeIn">
    <header class="imagem-principal">
        <div class="cabecalho">
            <div class="container">
                <h1>KSeven</h1>
                <h2>Menos é mais</h2>
            </div>
        </div>
    </header>
    <div class="container">
        <hr class="linha-dividir">

        <div class="sessao" id="sessao1">
            <img class="sessao-imagem img-circle img-responsive pull-right" src="/images/ROBO 1-001.jpg">
            <h2 class="sessao-heading">A criação de um monstro
                <small class="text-muted">
                    Que não vai dar, rapaz?!
                </small>
            </h2>
            <p class="lead">Fibra. BIRL. Trapézio descendente. Esses foram os ingredientes escolhidos para criar o monstro,
                    mas o professor Evandro acidentalmente acrescentou um ingrediente extra na mistura: o elemento BODYBUILDER.
                    E assim nasceu um fenômeno. Modelado pelo intelecto do PrimeiraMente, O KSeven seguiu seu projeto inicial e foi assim até sua conclusão.</p>
        </div>            

        <hr class="linha-dividir">

        <div class="sessao" id="sessao2">
            <img class="sessao-imagem img-circle img-responsive pull-left" src="/images/robo2.jpg">
            <h2 class="sessao-heading">Ataques super fulminantes
                <small class="text-muted">O terror dos inimigos</small>
            </h2>
            <p class="lead">Sua velocidade e força de ataque provoca medo em seus adversários: 2 armas que, quando ativadas, é letal. 
                Suas pontas tem agulhas super-afiadas prontas para arrebentar no campo de batalha. </p>
        </div>

        <hr class="linha-dividir">

        <div class="sessao" id="sessao3">
            <img class="sessao-imagem img-circle img-responsive pull-right" src="/images/robo4.jpg">
            <h2 class="sessao-heading">Elegância e perfomance
                <small class="text-muted">Superando as expectativas</small>
            </h2>
            <p class="lead">Menos é mais sempre foi o lema do grupo,
                            onde o companheirismo e inteligência deram vida ao robô que hoje se tornou referência na FIAP: Venceu todos seus adversários na primeira fase da competição e
                            está classificado para a grande competição no NEXT Festival.</p>
        </div>

        <hr class="linha-dividir">
</div>
