
        <div class="animated fadeIn">
       <header class="imagem-equipe">
            <div class="cabecalho">

            </div>
        </header>
        <div class="container">
            <!-- this section wraps the team members as a container-->

        <section class="equipe-container">
        <h1 class="equipe-h1">Nosso time</h1>

            <!-- member-->  
            <div class="equipe-membro">
            <img class="equipe-foto" src="/images/matheus.jpg">
            <h3>Matheus das Mercês
                <small><a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/matheus-das-mercês-sabóia-bezerra-105b24116" target="_blank">
                <span class="fa fa-linkedin linkedin"></span>
                </a></small>
            </h3>
            <span>Desenvolvedor Web, trabalha como programador MEAN Stack.</span>
            </div>


            <!-- membro-->
            <div class="equipe-membro">
            <img class="equipe-foto" src="/images/paim.jpg">
            <h3>Rodrigo Paim
                <small><a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/rodrigo-costa-paim-01a9b9b2" target="_blank">
                <span class="fa fa-linkedin linkedin"></span>
                </a></small>
            </h3>
            <span>Profissional com conhecimento em desenvolvimento de sistemas e análise de negócios.</span>
            </div>


            <!-- membro-->
            <div class="equipe-membro">
            <img class="equipe-foto" src="/images/wendel.jpg">
            <h3>Wendel Orti
                <small><a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/wendel-orti-guirao-82ba55111" target="_blank">
                <span class="fa fa-linkedin linkedin"></span>
                </a></small>
            </h3>
            <span>Profissional atuante na área de logística, focado em gestão de processos.</span>
            </div> 



            <!-- membro-->
            <div class="equipe-membro">
            <img class="equipe-foto" src="/images/halex.jpg">
            <h3>Halex Tomasi
                <small><a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/halextomasi" target="_blank">
                <span class="fa fa-linkedin linkedin"></span>
                </a></small>
            </h3>
            <span>Desenvolvedor de sistemas de gerenciamento logístico, responsável em desenvolver e realizar manutenção do sistema.</span>
            </div> 


            <!-- member-->
            <div class="equipe-membro">
            <img class="equipe-foto" src="/images/evandro.jpg">
            <h3>Evandro Ekazi
                <small><a class="btn btn-social-icon btn-linkedin" href="https://br.linkedin.com/in/evandro-ezaki-0543b046" target="_blank">
                <span class="fa fa-linkedin linkedin"></span>
                </a></small>
            </h3>
            <span>Desenvolvedor de sistemas focado em gestão de projetos e experiência em automação de processos.</span>
            </div> 
        
        </section>

            <hr class="linha-dividir">

        </div>
</div>

